#character {
  height: 10px;
  width: 10px;
  background: blue;
  position: absolute;
}
body {
  overflow: hidden;
}
.door {
  background: gold;
}
.platform {
  height: 10px;
  width: 50px;
  background: saddlebrown;
  position: absolute;
  top: calc(100% - 100px)
}
.follower {
  height: 20px;
  width: 20px;
  background: green;
  position: absolute;
}
.end {
  background: red;
}
