#gameBoard {
  position: absolute;
  display: block;
  height: 100%;
  width: 43%;
  top: -15%;
  background: url(https://s-media-cache-ak0.pinimg.com/236x/d3/68/b8/d368b82bfa3acd293848a1b9eede86ea.jpg);
  background-size: 100% 116%;
  left: 29%;
}
#cardDeck {
  position: absolute;
  height: 16%;
  width: 43%;
  background: saddlebrown;
  top: calc(100% - 16%);
  left: 29%;
}
#handi {
  position: absolute;
  height: 100px;
  width: 100px;
  background: blue;
  left: 5px;
}
.card {
  position: absolute;
  height: 15%;
  width: 10%;
  cursor: move;
}
#card1 {
  background: url(images/giant.png);
  background-size: 100% 100%;
  top: calc(100% - 16%);
  left: 29%;
}
#card2 {
  background: url(images/bomber.png);
  background-size: 100% 100%;
  top: calc(100% - 16%);
  left: 40%;
}
#card3 {
  background: url(images/executioner.png);
  background-size: 100% 100%;
  top: calc(100% - 16%);
  left: 50.5%;
}
#card4 {
  background: url(images/zap.png);
  background-size: 100% 100%;
  top: calc(100% - 16%);
  left: 61%;
}
