body {
  overflow: hidden;
  background: #c4ecf9;
}
#ant {
  height: 50px;
  width: 100px;
  background: red;
  position: absolute;
  background: url("images/ant.svg");
  background-size: 100% 100%;
}
.rainDrop {
  top: 50px;
  height: 50px;
  width: 50px;
  background: "url(images/leaves/raindrop-01.svg)";
  position: absolute;
  background-size: 100% 100%;
}
#food {
  position: absolute;
}
#basket {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  border: 1px red solid;
}
#filler {
  position: relative;
  height: 0;
  width: 100px;
  background: orange;
}
#game {
  display: none;
}
#nextLevel {
  display: none;
}
